<!-- =====================================================
* Author: Derek Bolger
* Assignment: WE4 Mobile Web Applications, Digital Skills Academy
* Student ID Derek Bolger: D14127405
* Date: 22/06/2016
* Code reuse: WE4.0_A_MWA_workshop_08_Passing Data In Angular
========================================================== -->

<div class="jumbotron text-center">
	<h1>Things To Do</h1>
	<p>{{ message }}</p>
</div>

<div class="col-lg-12 text-center">
	<p class="home-p">This is a simple To Do App, tap the app icon below or the check icon above to go to the To Do page to add a task.</p>
	<a href="#todo"><img src="res/icons/android/icon-96-xhdpi.png" class="home-icon"></a>
</div>